.header {
    background-color: black;
    width: 100%;
    height: 60px;



}

.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 120px;
    position: relative;
    left: 5px;
    top: 10px;
}
.primerita-seccion{
    background-color: #1d75de;
    color: white;
}
h1{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    padding-top: 60px;
}
h3{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.enlace-planes{
    margin: 20px;
    
}
.first-section-button{
    background-color: #1ed760;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none
    
}
.terminos{
    font-size: 12px;
    padding: 20px 20px;
    padding-bottom: 30px;
}

h2{
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.lista-benefits{
    display: flex;
    margin: 30px
}

a {
    color: gray;
    text-decoration: none;
}


.iconos-benefits {
    border: solid;
    width: 60px;
}

.menu-footer{
    color: gray;
}
